@page "/"

@using PersonalPage.Components.ForFun




@if (displayDestruction)
{
    <ComputerDestruction />
}
else
{
    <PageTitle>hey, homie!</PageTitle>

    <div class="container mt-5">
        <h1>Hello world</h1>

        <div class="row">
            <div class="col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
                <div>
                    <span>This is a Blazor WebAssembly app hosted at GitHub Pages as static files.</span><br /><br />
                    <span>I am gonna use this project mainly for Blazor and web-dev experiments, and maybe also something like my personal site, blog or whatever this turns into...</span>
                    <br /><br />
                    <span>... btw. Blazor is cool <i class="bi bi-emoji-sunglasses"></i></span>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 text-center">
                <div id="profile-pic" @onclick="@(() => displayDestruction = true)">
                    <img src="/img/ninja-coder.png" width="150" style="cursor: pointer;" />
                    <p>Do not click on me..</p>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <h4>Current experiments:</h4>
                <ul>
                    <li><NavLink href="tetris">Tetris game</NavLink></li>
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h4>Newest blog posts:</h4>
                <ul>
                    <li><NavLink class="text-dec-none" href="/Blog/BlazorSeries">Blazor Series Episode 1 - Intro to WebAssembly, SignalR, Rendering, Hosting models and different types of Blazor project types in .NET 8</NavLink></li>
                </ul>
            </div>
        </div>

        <div class="row fixed-bottom">
            <div class="col text-end me-4 mb-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="fs-4"><i class="bi bi-incognito"></i></a>
            </div>
        </div>
    </div>    
}



@code{
    bool displayDestruction = false;

}