@page "/Blog/BlazorSeries2"

<div class="container">

    <div class="row mt-4">
        <div class="col text-center">
            <h3>Blazor Series Episode 2</h3>
            <h5 class="fst-italic">Lifecycle methods and component parameters</h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <span>Comming soon..</span>
        </div>
    </div>

</div>

@code {

}
